body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../短信群发详细页_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:114px;
    top:24px;
    width:400px;
    height:55px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:55px;
}

.u1 {
    position:absolute;
    left:2px;
    top:20px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:114px;
    top:578px;
    width:391px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../短信群发详细页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:114px;
    top:132px;
    width:908px;
    height:23px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:914px;
    height:29px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:904px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:114px;
    top:156px;
    width:913px;
    height:245px
}

.u6_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u6_container {
    position:absolute;
    left:0px;
    top:0px;
    width:154px;
    height:30px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:154px;
    top:0px;
    width:300px;
    height:30px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u10_container {
    position:absolute;
    left:454px;
    top:0px;
    width:154px;
    height:30px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u12_container {
    position:absolute;
    left:608px;
    top:0px;
    width:300px;
    height:30px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u14_container {
    position:absolute;
    left:0px;
    top:30px;
    width:154px;
    height:30px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u15 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u16_container {
    position:absolute;
    left:154px;
    top:30px;
    width:300px;
    height:30px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u18_container {
    position:absolute;
    left:454px;
    top:30px;
    width:154px;
    height:30px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u20_container {
    position:absolute;
    left:608px;
    top:30px;
    width:300px;
    height:30px;
}

#u20_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u22_container {
    position:absolute;
    left:0px;
    top:60px;
    width:154px;
    height:30px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u23 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u24_container {
    position:absolute;
    left:154px;
    top:60px;
    width:300px;
    height:30px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u25 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u26_container {
    position:absolute;
    left:454px;
    top:60px;
    width:154px;
    height:30px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u27 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u28_container {
    position:absolute;
    left:608px;
    top:60px;
    width:300px;
    height:30px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u29 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:90px;
    width:154px;
    height:30px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u31 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u32_container {
    position:absolute;
    left:154px;
    top:90px;
    width:300px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../短信群发详细页_files/u6_normal.png');
}

.u34_container {
    position:absolute;
    left:454px;
    top:90px;
    width:154px;
    height:30px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:36px;
}

.u35 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../短信群发详细页_files/u8_normal.png');
}

.u36_container {
    position:absolute;
    left:608px;
    top:90px;
    width:300px;
    height:30px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:36px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../短信群发详细页_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:0px;
    top:120px;
    width:154px;
    height:120px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:126px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../短信群发详细页_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:154px;
    top:120px;
    width:300px;
    height:120px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:126px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../短信群发详细页_files/u38_normal.png');
}

.u42_container {
    position:absolute;
    left:454px;
    top:120px;
    width:154px;
    height:120px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:160px;
    height:126px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../短信群发详细页_files/u40_normal.png');
}

.u44_container {
    position:absolute;
    left:608px;
    top:120px;
    width:300px;
    height:120px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:306px;
    height:126px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:296px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:277px;
    top:159px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:730px;
    top:159px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:277px;
    top:190px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:277px;
    top:219px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:277px;
    top:246px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:731px;
    top:218px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:732px;
    top:249px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u53_normal {
    background-image: url('../短信群发详细页_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:114px;
    top:485px;
    width:451px;
    height:70px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:457px;
    height:76px;
}

.u54 {
    position:absolute;
    left:2px;
    top:11px;
    width:447px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../短信群发详细页_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:114px;
    top:104px;
    width:118px;
    height:28px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:34px;
}

.u56 {
    position:absolute;
    left:2px;
    top:3px;
    width:114px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:114px;
    top:417px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:751px;
    top:284px;
    width:102px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:731px;
    top:311px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:346px;
    top:417px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u61_normal {
    background-image: url('../短信群发详细页_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:833px;
    top:24px;
    width:25px;
    height:25px;
}

#u61_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u62 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../短信群发详细页_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:900px;
    top:24px;
    width:25px;
    height:25px;
}

#u63_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u64 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../短信群发详细页_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:960px;
    top:24px;
    width:25px;
    height:25px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u66 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:732px;
    top:188px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u68 {
    position:absolute;
    left:277px;
    top:281px;
    width:195px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u69 {
    position:absolute;
    left:235px;
    top:417px;
    width:86px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

