body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:114px;
    top:203px;
    width:775px;
    height:261px
}

.u1_normal {
    background-image: url('../群发管理后续页_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:70px;
    height:40px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:46px;
}

.u2 {
    position:absolute;
    left:2px;
    top:12px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../群发管理后续页_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:70px;
    top:0px;
    width:96px;
    height:40px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:46px;
}

.u4 {
    position:absolute;
    left:2px;
    top:12px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../群发管理后续页_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:166px;
    top:0px;
    width:100px;
    height:40px;
}

#u5_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u6 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../群发管理后续页_files/u5_normal.png');
}

.u7_container {
    position:absolute;
    left:266px;
    top:0px;
    width:100px;
    height:40px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u8 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../群发管理后续页_files/u5_normal.png');
}

.u9_container {
    position:absolute;
    left:366px;
    top:0px;
    width:100px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../群发管理后续页_files/u5_normal.png');
}

.u11_container {
    position:absolute;
    left:466px;
    top:0px;
    width:100px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:46px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../群发管理后续页_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:566px;
    top:0px;
    width:204px;
    height:40px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:46px;
}

.u14 {
    position:absolute;
    left:2px;
    top:12px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:40px;
    width:70px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:70px;
    top:40px;
    width:96px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:166px;
    top:40px;
    width:100px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u21_container {
    position:absolute;
    left:266px;
    top:40px;
    width:100px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u23_container {
    position:absolute;
    left:366px;
    top:40px;
    width:100px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u25_container {
    position:absolute;
    left:466px;
    top:40px;
    width:100px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:566px;
    top:40px;
    width:204px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../群发管理后续页_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:60px;
    width:70px;
    height:36px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:42px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../群发管理后续页_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:70px;
    top:60px;
    width:96px;
    height:36px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:42px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../群发管理后续页_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:166px;
    top:60px;
    width:100px;
    height:36px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../群发管理后续页_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:266px;
    top:60px;
    width:100px;
    height:36px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../群发管理后续页_files/u33_normal.png');
}

.u37_container {
    position:absolute;
    left:366px;
    top:60px;
    width:100px;
    height:36px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../群发管理后续页_files/u33_normal.png');
}

.u39_container {
    position:absolute;
    left:466px;
    top:60px;
    width:100px;
    height:36px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:42px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../群发管理后续页_files/u41_normal.png');
}

.u41_container {
    position:absolute;
    left:566px;
    top:60px;
    width:204px;
    height:36px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:42px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:96px;
    width:70px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u45_container {
    position:absolute;
    left:70px;
    top:96px;
    width:96px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u47_container {
    position:absolute;
    left:166px;
    top:96px;
    width:100px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u49_container {
    position:absolute;
    left:266px;
    top:96px;
    width:100px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u51_container {
    position:absolute;
    left:366px;
    top:96px;
    width:100px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u53_container {
    position:absolute;
    left:466px;
    top:96px;
    width:100px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u55_container {
    position:absolute;
    left:566px;
    top:96px;
    width:204px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:116px;
    width:70px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u59_container {
    position:absolute;
    left:70px;
    top:116px;
    width:96px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u61_container {
    position:absolute;
    left:166px;
    top:116px;
    width:100px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u63_container {
    position:absolute;
    left:266px;
    top:116px;
    width:100px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u65_container {
    position:absolute;
    left:366px;
    top:116px;
    width:100px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u67_container {
    position:absolute;
    left:466px;
    top:116px;
    width:100px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u69_container {
    position:absolute;
    left:566px;
    top:116px;
    width:204px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u71_container {
    position:absolute;
    left:0px;
    top:136px;
    width:70px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u73_container {
    position:absolute;
    left:70px;
    top:136px;
    width:96px;
    height:20px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u75_container {
    position:absolute;
    left:166px;
    top:136px;
    width:100px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u77_container {
    position:absolute;
    left:266px;
    top:136px;
    width:100px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u79_container {
    position:absolute;
    left:366px;
    top:136px;
    width:100px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u81_container {
    position:absolute;
    left:466px;
    top:136px;
    width:100px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u83_container {
    position:absolute;
    left:566px;
    top:136px;
    width:204px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:156px;
    width:70px;
    height:20px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u87_container {
    position:absolute;
    left:70px;
    top:156px;
    width:96px;
    height:20px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u88 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u89_container {
    position:absolute;
    left:166px;
    top:156px;
    width:100px;
    height:20px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u90 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u91_container {
    position:absolute;
    left:266px;
    top:156px;
    width:100px;
    height:20px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u92 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u93_container {
    position:absolute;
    left:366px;
    top:156px;
    width:100px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u95_container {
    position:absolute;
    left:466px;
    top:156px;
    width:100px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u97_container {
    position:absolute;
    left:566px;
    top:156px;
    width:204px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:176px;
    width:70px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u101_container {
    position:absolute;
    left:70px;
    top:176px;
    width:96px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u103_container {
    position:absolute;
    left:166px;
    top:176px;
    width:100px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u105_container {
    position:absolute;
    left:266px;
    top:176px;
    width:100px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u107_container {
    position:absolute;
    left:366px;
    top:176px;
    width:100px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u109_container {
    position:absolute;
    left:466px;
    top:176px;
    width:100px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u111_container {
    position:absolute;
    left:566px;
    top:176px;
    width:204px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u113_container {
    position:absolute;
    left:0px;
    top:196px;
    width:70px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u115_container {
    position:absolute;
    left:70px;
    top:196px;
    width:96px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u116 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u117_container {
    position:absolute;
    left:166px;
    top:196px;
    width:100px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u119_container {
    position:absolute;
    left:266px;
    top:196px;
    width:100px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u120 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u121_container {
    position:absolute;
    left:366px;
    top:196px;
    width:100px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u123_container {
    position:absolute;
    left:466px;
    top:196px;
    width:100px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u125_container {
    position:absolute;
    left:566px;
    top:196px;
    width:204px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u127_container {
    position:absolute;
    left:0px;
    top:216px;
    width:70px;
    height:20px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u128 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u129_container {
    position:absolute;
    left:70px;
    top:216px;
    width:96px;
    height:20px;
}

#u129_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u130 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u131_container {
    position:absolute;
    left:166px;
    top:216px;
    width:100px;
    height:20px;
}

#u131_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u132 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u133_container {
    position:absolute;
    left:266px;
    top:216px;
    width:100px;
    height:20px;
}

#u133_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u134 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u135_container {
    position:absolute;
    left:366px;
    top:216px;
    width:100px;
    height:20px;
}

#u135_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u136 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u137_container {
    position:absolute;
    left:466px;
    top:216px;
    width:100px;
    height:20px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u138 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u139_container {
    position:absolute;
    left:566px;
    top:216px;
    width:204px;
    height:20px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u140 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141_normal {
    background-image: url('../群发管理后续页_files/u15_normal.png');
}

.u141_container {
    position:absolute;
    left:0px;
    top:236px;
    width:70px;
    height:20px;
}

#u141_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:76px;
    height:26px;
}

.u142 {
    position:absolute;
    left:2px;
    top:2px;
    width:66px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../群发管理后续页_files/u17_normal.png');
}

.u143_container {
    position:absolute;
    left:70px;
    top:236px;
    width:96px;
    height:20px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:102px;
    height:26px;
}

.u144 {
    position:absolute;
    left:2px;
    top:2px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u145_container {
    position:absolute;
    left:166px;
    top:236px;
    width:100px;
    height:20px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u147_container {
    position:absolute;
    left:266px;
    top:236px;
    width:100px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u149_container {
    position:absolute;
    left:366px;
    top:236px;
    width:100px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../群发管理后续页_files/u19_normal.png');
}

.u151_container {
    position:absolute;
    left:466px;
    top:236px;
    width:100px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../群发管理后续页_files/u27_normal.png');
}

.u153_container {
    position:absolute;
    left:566px;
    top:236px;
    width:204px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:210px;
    height:26px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:200px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../群发管理后续页_files/u155_normal.png');
}

.u155_container {
    position:absolute;
    left:114px;
    top:180px;
    width:770px;
    height:23px;
}

#u155_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:29px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:766px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../群发管理后续页_files/u157_normal.png');
}

.u157_container {
    position:absolute;
    left:114px;
    top:117px;
    width:118px;
    height:28px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:124px;
    height:34px;
}

.u158 {
    position:absolute;
    left:2px;
    top:3px;
    width:114px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../群发管理后续页_files/u159_normal.png');
}

.u159_container {
    position:absolute;
    left:114px;
    top:461px;
    width:770px;
    height:25px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:31px;
}

.u160 {
    position:absolute;
    left:2px;
    top:4px;
    width:766px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161_normal {
    background-image: url('../群发管理后续页_files/u161_normal.png');
}

.u161_container {
    position:absolute;
    left:114px;
    top:145px;
    width:770px;
    height:35px;
}

#u161_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:776px;
    height:41px;
}

.u162 {
    position:absolute;
    left:2px;
    top:10px;
    width:766px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u163 {
    position:absolute;
    left:118px;
    top:154px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:204px;
    top:150px;
    width:107px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u165 {
    position:absolute;
    left:318px;
    top:154px;
    width:65px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166 {
    position:absolute;
    left:383px;
    top:150px;
    width:102px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u167 {
    position:absolute;
    left:490px;
    top:154px;
    width:18px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:509px;
    top:150px;
    width:97px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u169 {
    position:absolute;
    left:621px;
    top:151px;
    width:50px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u170_normal {
    background-image: url('../群发管理后续页_files/u170_normal.png');
}

.u170_container {
    position:absolute;
    left:114px;
    top:24px;
    width:400px;
    height:55px;
}

#u170_img {
    position:absolute;
    left:0px;
    top:0px;
    width:400px;
    height:55px;
}

.u171 {
    position:absolute;
    left:2px;
    top:20px;
    width:396px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u172 {
    position:absolute;
    left:114px;
    top:591px;
    width:391px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../群发管理后续页_files/u173_normal.png');
}

.u173_container {
    position:absolute;
    left:114px;
    top:500px;
    width:644px;
    height:80px;
}

#u173_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:650px;
    height:86px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:640px;
    height:80px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../群发管理后续页_files/u175_normal.png');
}

.u175_container {
    position:absolute;
    left:833px;
    top:24px;
    width:25px;
    height:25px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u176 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../群发管理后续页_files/u177_normal.png');
}

.u177_container {
    position:absolute;
    left:900px;
    top:24px;
    width:25px;
    height:25px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u178 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../群发管理后续页_files/u179_normal.png');
}

.u179_container {
    position:absolute;
    left:960px;
    top:24px;
    width:25px;
    height:25px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:25px;
    height:25px;
}

.u180 {
    position:absolute;
    left:2px;
    top:4px;
    width:21px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181 {
    position:absolute;
    left:635px;
    top:461px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u182 {
    position:absolute;
    left:813px;
    top:461px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u183 {
    position:absolute;
    left:692px;
    top:461px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u184 {
    position:absolute;
    left:756px;
    top:461px;
    width:47px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u186 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194 {
    position:absolute;
    left:16px;
    top:0px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196 {
    position:absolute;
    left:16px;
    top:0px;
    width:37px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

